<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>eblog</display-name>
	<servlet>
		<description>
		A servlet to handle login and registration for a user</description>
		<display-name>Logger</display-name>
		<servlet-name>Logger</servlet-name>
		<servlet-class>
		servlets.Logger</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PostMgr</display-name>
		<servlet-name>PostMgr</servlet-name>
		<servlet-class>
		servlets.PostMgr</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		servlets.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>
		servlets.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logmein</display-name>
		<servlet-name>Logmein</servlet-name>
		<servlet-class>
		servlets.Logmein</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CommentMgr</display-name>
		<servlet-name>CommentMgr</servlet-name>
		<servlet-class>
		servlets.CommentMgr</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>
		servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logger</servlet-name>
		<url-pattern>/Logger</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostMgr</servlet-name>
		<url-pattern>/PostMgr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logmein</servlet-name>
		<url-pattern>/Logmein</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentMgr</servlet-name>
		<url-pattern>/CommentMgr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
